{% extends "base.html" %}




{% block app_content %}
    <style>
        .card-img-top {
            width: 100%;
            height: 25vw;
            object-fit: cover;
            }
        .card {
            padding: 15px;
        }
</style>
    <h1>{{ _('My tools') }}</h1>
    <a href="{{ url_for('main.add_tool') }}">Add a new tool</a>
    <div class="row">
    <br><br>
    {% for tool in tools %}    
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="{{ tool.image_path }}"d alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ tool.name }}</h5>
            <p class="card-text">{{ tool.description}}</p>
            <form method="get" action="{{ url_for('main.edit_tool', tool_id=tool.id) }}">
                <input class="btn btn-primary" type="submit" name="edit" value="Edit">
            </form>
            <form method="post" action="{{ url_for('main.delete_tool', tool_id=tool.id) }}">
                <input class="btn btn-primary" type="submit" name="delete" value="Delete">
            </form>
          </div>
        </div>
      </div>
    {% endfor %} 
    </div>
{% endblock %}